In [1]:
import pandas as pd

In [2]:
state_2014 = pd.read_csv("state_coord_2014.csv")

In [4]:
state_2015 = pd.read_csv("state_coord_2015.csv")

In [5]:
state_2016 = pd.read_csv("state_coord_2016.csv")

In [6]:
state_2017 = pd.read_csv("state_coord_2017.csv")

In [7]:
state_2018 = pd.read_csv("state_coord_2018.csv")

In [14]:
crimes_df = pd.concat([state_2014,state_2015,state_2016,state_2017,state_2018])

In [15]:
crimes_df

,Unnamed: 0,ori,data_year,offense,state,cleared,actual,data_range,latitude,longitude,name
0,0,NY0010000,2014,aggravated-assault,NY,7,8,NaN,43.299428,-74.217933,New York
1,1,NY0010100,2014,aggravated-assault,NY,244,497,NaN,43.299428,-74.217933,New York
2,2,NY0010200,2014,aggravated-assault,NY,23,26,NaN,43.299428,-74.217933,New York
3,3,NY0010300,2014,aggravated-assault,NY,6,8,NaN,43.299428,-74.217933,New York
4,4,NY0012000,2014,aggravated-assault,NY,3,3,NaN,43.299428,-74.217933,New York
...,...,...,...,...,...,...,...,...,...,...,...
3395,3395,VT0040300,2018,property-crime,VT,171,573,NaN,44.558803,-72.577841,Vermont
3396,3396,VT0040400,2018,property-crime,VT,19,122,NaN,44.558803,-72.577841,Vermont
3397,3397,VT0040500,2018,property-crime,VT,37,207,NaN,44.558803,-72.577841,Vermont
3398,3398,VT0040600,2018,property-crime,VT,23,107,NaN,44.558803,-72.577841,Vermont
3399,3399,VT0040700,2018,property-crime,VT,13,51,NaN,44.558803,-72.577841,Vermont

In [30]:
crimes_df.columns

Index(['Unnamed: 0', 'ori', 'data_year', 'offense', 'state', 'cleared',
       'actual', 'data_range', 'latitude', 'longitude', 'name'],
      dtype='object')

In [33]:
crime_df = crimes_df.drop(['Unnamed: 0','data_range'],axis=1)

In [36]:
crime_df.isna().sum()

ori          0
data_year    0
offense      0
state        0
cleared      0
actual       0
latitude     0
longitude    0
name         0
dtype: int64