In [2]:
import pandas as pd
import numpy as np

In [3]:
population = pd.read_excel('nst-est2019-01.xlsx',index = False)

In [4]:
population.columns = population.iloc[2]

In [137]:
population.head(30)

2,NaN,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Area,2010-04-01 00:00:00,NaN,Population Estimate (as of July 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
3,United States,308745538,308758105,309321666,311556874.0,313830990.0,315993715.0,318301008.0,320635163.0,322941311.0,324985539.0,326687501.0,328239523.0
4,Northeast,55317240,55318443,55380134,55604223.0,55775216.0,55901806.0,56006011.0,56034684.0,56042330.0,56059240.0,56046620.0,55982803.0
5,Midwest,66927001,66929725,66974416,67157800.0,67336743.0,67560379.0,67745167.0,67860583.0,67987540.0,68126781.0,68236628.0,68329004.0
6,South,114555744,114563030,114866680,116006522.0,117241208.0,118364400.0,119624037.0,120997341.0,122351760.0,123542189.0,124569433.0,125580448.0
7,West,71945553,71946907,72100436,72788329.0,73477823.0,74167130.0,74925793.0,75742555.0,76559681.0,77257329.0,77834820.0,78347268.0
8,.Alabama,4779736,4780125,4785437,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
9,.Alaska,710231,710249,713910,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
10,.Arizona,6392017,6392288,6407172,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
11,.Arkansas,2915918,2916031,2921964,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
12,.California,37253956,37254519,37319502,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0
13,.Colorado,5029196,5029319,5047349,5121108.0,5192647.0,5269035.0,5350101.0,5450623.0,5539215.0,5611885.0,5691287.0,5758736.0
14,.Connecticut,3574097,3574147,3579114,3588283.0,3594547.0,3594841.0,3594524.0,3587122.0,3578141.0,3573297.0,3571520.0,3565287.0
15,.Delaware,897934,897937,899593,907381.0,915179.0,923576.0,932487.0,941252.0,948921.0,956823.0,965479.0,973764.0
16,.District of Columbia,601723,601767,605226,619800.0,634924.0,650581.0,662328.0,675400.0,685815.0,694906.0,701547.0,705749.0
17,.Florida,18801310,18804564,18845537,19053237.0,19297822.0,19545621.0,19845911.0,20209042.0,20613477.0,20963613.0,21244317.0,21477737.0
18,.Georgia,9687653,9688729,9711881,9802431.0,9901430.0,9972479.0,10067278.0,10178447.0,10301890.0,10410330.0,10511131.0,10617423.0
19,.Hawaii,1360301,1360307,1363963,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0
20,.Idaho,1567582,1567657,1570746,1583910.0,1595324.0,1611206.0,1631112.0,1651059.0,1682380.0,1717715.0,1750536.0,1787065.0
21,.Illinois,12830632,12831572,12840503,12867454.0,12882510.0,12895129.0,12884493.0,12858913.0,12820527.0,12778828.0,12723071.0,12671821.0
22,.Indiana,6483802,6484051,6490432,6516528.0,6537703.0,6568713.0,6593644.0,6608422.0,6634304.0,6658078.0,6695497.0,6732219.0
23,.Iowa,3046355,3046871,3050745,3066336.0,3076190.0,3092997.0,3109350.0,3120960.0,3131371.0,3141550.0,3148618.0,3155070.0
24,.Kansas,2853118,2853123,2858190,2869225.0,2885257.0,2893212.0,2900475.0,2909011.0,2910844.0,2908718.0,2911359.0,2913314.0
25,.Kentucky,4339367,4339333,4348181,4369821.0,4386346.0,4404659.0,4414349.0,4425976.0,4438182.0,4452268.0,4461153.0,4467673.0
26,.Louisiana,4533372,4533487,4544532,4575625.0,4600972.0,4624527.0,4644013.0,4664628.0,4678135.0,4670560.0,4659690.0,4648794.0
27,.Maine,1328361,1328358,1327629,1328284.0,1327729.0,1328009.0,1330513.0,1328262.0,1331317.0,1334612.0,1339057.0,1344212.0
28,.Maryland,5773552,5773794,5788645,5839419.0,5886992.0,5923188.0,5957283.0,5985562.0,6003323.0,6023868.0,6035802.0,6045680.0
29,.Massachusetts,6547629,6547785,6566307,6613583.0,6663005.0,6713315.0,6762596.0,6794228.0,6823608.0,6859789.0,6882635.0,6892503.0

In [5]:
population = population.rename(columns = {np.nan:"state_name"})

In [6]:
population = population.iloc[7:59]

In [7]:
population['state_name'] = population['state_name'].str[1:]

In [9]:
population =population[population['state_name'].isin(["New York","New Jersey","Maine","New Hampshire","Massachusetts","West Virginia","Connecticut","Rhode Island","Virginia","North Carolina","Pennsylvania","Florida","South Carolina","Delaware","Maryland","Georgia","Vermont"])]

In [9]:
population.columns

Index([    'state_name',         'Census', 'Estimates Base',             2010,
                 2011.0,           2012.0,           2013.0,           2014.0,
                 2015.0,           2016.0,           2017.0,           2018.0,
                 2019.0],
      dtype='object', name=2)

In [10]:
del population['Census']

In [11]:
del population['Estimates Base']

In [12]:
del population[2010.0]

In [13]:
del population[2011.0]

In [14]:
del population[2012.0]

In [15]:
del population[2013.0]

In [16]:
del population[2019.0]

In [17]:
population = population.rename(columns = {2014:'pop_2014',
                                          2015:'pop_2015',
                                          2016:'pop_2016',
                                          2017:'pop_2017',
                                          2018:'pop_2018'}
                                         )

In [18]:
population

2       state_name    pop_2014    pop_2015    pop_2016    pop_2017    pop_2018
14     Connecticut   3594524.0   3587122.0   3578141.0   3573297.0   3571520.0
15        Delaware    932487.0    941252.0    948921.0    956823.0    965479.0
17         Florida  19845911.0  20209042.0  20613477.0  20963613.0  21244317.0
18         Georgia  10067278.0  10178447.0  10301890.0  10410330.0  10511131.0
27           Maine   1330513.0   1328262.0   1331317.0   1334612.0   1339057.0
28        Maryland   5957283.0   5985562.0   6003323.0   6023868.0   6035802.0
29   Massachusetts   6762596.0   6794228.0   6823608.0   6859789.0   6882635.0
37   New Hampshire   1333341.0   1336350.0   1342307.0   1348787.0   1353465.0
38      New Jersey   8864525.0   8867949.0   8870827.0   8885525.0   8886025.0
40        New York  19651049.0  19654666.0  19633428.0  19589572.0  19530351.0
41  North Carolina   9932887.0  10031646.0  10154788.0  10268233.0  10381615.0
46    Pennsylvania  12788313.0  12784826.0  12782275.0  12787641.0  12800922.0
47    Rhode Island   1055936.0   1056065.0   1056770.0   1055673.0   1058287.0
48  South Carolina   4823617.0   4891938.0   4957968.0   5021268.0   5084156.0
53         Vermont    625214.0    625216.0    623657.0    624344.0    624358.0
54        Virginia   8310993.0   8361808.0   8410106.0   8463587.0   8501286.0
56   West Virginia   1849489.0   1842050.0   1831023.0   1817004.0   1804291.0

In [19]:
population.to_csv('population_label_data.csv')