In [2]:
import pandas as pd
from sqlalchemy import create_engine,inspect,func
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import Column,Integer,Float,String

In [3]:
engine = create_engine('postgresql://postgres:samridhi@localhost:5432/crime')
connection = engine.connect()

In [4]:
Base=automap_base()
Base.prepare(engine,reflect=True)
Base.classes.keys()

['state_table', 'all_crime']

In [5]:
offense_type = pd.read_sql("""SELECT offense
    FROM all_crime
    GROUP BY offense;""", engine)

In [7]:
offense_list=offense_type.offense.to_list()
offense_list

['aggravated-assault',
 'violent-crime',
 'robbery',
 'arson',
 'rape-legacy',
 'homicide',
 'burglary',
 'motor-vehicle-theft',
 'larceny',
 'rape',
 'property-crime']

In [8]:
state_type=pd.read_sql("""SELECT state
FROM state_table
GROUP BY state;""",engine)

In [14]:
state_list=state_type.state.to_list()
state_list

['south carolina',
 'connecticut',
 'pennsylvania',
 'newJersey',
 'virginia',
 'newyork',
 'north carolina',
 'maryland',
 'massachusetts',
 'west virginia',
 'delaware',
 'rhode island',
 'georgia',
 'vermont',
 'maine',
 'new hamshire',
 'florida']